#data { display: flex; flex-wrap: wrap;}
.sp1 {
    width: 32%; 
    text-align: center;
    border: 1px solid darkcyan;
    box-sizing: border-box;
    margin:auto;
    font-size: 1.3em;
    margin-bottom: 20px;
    border-radius: 10px;
}
.sp1 h3, .sp1 p { margin-top: 10px; margin-bottom: 10px;}
.sp1 img { width: 75%}